.blog-box {
    width: 90%;
    height: auto;
    max-width: 1600px;
    display: grid;
    grid-template-columns: 77%;
    grid-auto-rows: min-content;
    margin-top: 20px;
    gap: 100px;
}

.blog-title {
    width: 90%;
    max-width: 1600px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.blog-title h2 {
    text-align: left;
    font-style: italic;
    font-weight: 500;
}

.blog {
    overflow: hidden;
    background-color: rgba(255, 253, 255, 0.68);
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1),
    -5px -5px 10px rgba(239, 239, 239, 0.5);
    border-radius: 1rem;
    height: auto;
    transition: .4s ease;
}

.blog-content {
    padding: 30px;
}

.blog-content h2 {
    font-weight: 500;
    display: inline;
}

.blog-title-bord {
    width: 10px;
    height: 2px;
    margin-top: 15px;
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

.blog-title-bord-test {
    animation: blog-title-bord-anim 2s ease forwards;
}

@keyframes blog-title-bord-anim {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.blog-content span:nth-of-type(1) {
    display: inline;
    transition: .4s ease;
    color: #82b5f6;
    margin-left: 15px;
    font-size: 1em;
}

.blog-content-time {
    display: block;
    margin-top: 20px;
    color: #7f7f7f;
}

.blog-content p {
    margin-top: 15px;
    font-size: 1.1em;
    font-weight: 100;
    color: #1c1c1c;
    letter-spacing: 2px;
    line-height: 1.67;
}
.blog-content-data {
    border-radius: 12px;
    max-width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100vw;
    height: auto;
    object-fit: cover;
}


@media (max-width: 1000px) {
    .blog-box {
        grid-template-columns: 100%;
    }
    .blog-title {
        text-align: center;
    }
    .blog-content h2 {
        font-size: 20px;
    }
}

@media (max-width: 950px) {
    .blog-content-data {
        max-width: 100%;
    }
}

